#login_id:HOVER {
	color: blue;
	cursor: pointer;
}
#signup_id:HOVER {
	color: blue;
	cursor: pointer;
}
#logout_id:HOVER {
	color: blue;
	cursor: pointer;
}

#login_id {
	display: none;
}

#signup_id {
	display: none;
}

#logout_id {
	display: none;
}

#user_info_id {
	display: none;
}

#newest_div_id {
	display: none;
}